<div class="row pt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Créer un compte</h5>
        <form #registerUserForm='ngForm' (ngSubmit)="register()">
          <div class="form-group">
            <label>Nom complet</label>
            <input type="text" class="form-control" [(ngModel)]="registerForm.name" name="name" aria-describedby="nom"
              placeholder="Votre nom">
          </div>
          <div class="form-group">
            <label>Date de naissance</label>
            <input type="date" class="form-control" [(ngModel)]="registerForm.birthdate" name="dateN" aria-describedby="date de naissance"
              placeholder="Date de naissance">
          </div>
          <div class="form-group">
            <label>adresse e-mail</label>
            <input type="email" class="form-control" [(ngModel)]="registerForm.email" name="createEmail" aria-describedby="email"
              placeholder="Votre email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="registerForm.password" #password='ngModel'  placeholder="mot de passe" minlength="8">
          </div>
          <div class="form-group">
            <label>repéter Password</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="registerForm.password2" #password2='ngModel'  placeholder="repéter le mot de passe">
          </div>
          <div *ngIf="(password.touched && password2.touched && password.value !== password2.value) " class="alert alert-danger">
              les mots de passe ne correspondent pas
          </div>
          <button type="button" class="btn btn-primary" [disabled]="password.value != password2.value || password == '' " (click)="register()">Créer mon compte</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Se connecter</h5>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" [(ngModel)]="credentials.email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">mot de passe</label>
            <input type="password" class="form-control"  name ="password" [(ngModel)]="credentials.password" placeholder="mot de passe" required>
          </div>
          <div *ngIf="noCredentials" class="alert alert-danger">
            Veuillez remplir les champs
        </div>
          <button type="button" class="btn btn-primary float-right" (click)="login()">se connecter</button>
        </form>
      </div>
    </div>
  </div>
</div>
