
<div *ngIf="questionsList as questions; else loading;">
    <div class="card" *ngIf="questionnaire">
      <h3 class="card-header">{{questionnaire.title}}</h3>
      <div class="clearfix"><i class="mr-3 float-right">Created by {{questionnaire.submittedBy}} on 
        {{questionnaire.date | date:'fullDate'}} at {{questionnaire.date | date:'mediumTime'}}</i></div>
  
      <div class="card-body" *ngFor="let q of questions">
        <p class="card-text">{{q.title}}</p>
        <question-type [question]="q" [edit]="true" [readonly]= "false" [removable]= 'false'></question-type>
      </div>
  
      <div class="clearfix">
        <div class="float-right">
          <button class="mr-1" mat-raised-button color="primary" (click)="submit(questions)">Submit</button>
          <a routerLink="/" mat-raised-button color="warn">Cancel</a>
        </div>
      </div>
      <br/>
  
    </div>
  </div>
  
  <ng-template #loading>
      <mat-spinner class="loader-container"></mat-spinner>
  </ng-template>