<div *ngIf="create || update || viewResponse; else homeProfile; ">
  <div *ngIf="create; else updatePage;">
    <app-create [user]="profile" (createFinish)="createFinish($event)"></app-create>
  </div>
  <ng-template #updatePage>
    <div *ngIf="update; else responsePage">
      <app-create [questionnaire]="questionnaireToupdate" [user]="profile" [questions]="listeQuestions" [inUpdate]="true"
        (updateFinish)="updateFinish($event)">
      </app-create>
    </div>
    <ng-template #responsePage>
      <app-response [questionnaire]="questionnaireToupdate" (goToProfilePage)="goToProfile($event)"></app-response>
    </ng-template>
  </ng-template>
</div>
<ng-template #homeProfile>
  <div *ngIf="listeQuestionnaire ; else loading;">
    <div class="card">
      <h3 class="card-header">Questionnaires
        <div class="float-right mt-2">
          <button (click)="goToCreate()" mat-raised-button color="primary">Nouveau Questionnaire</button>
        </div>
      </h3>
      <div class="card-body" *ngFor="let q of listeQuestionnaire">
        <div class="row">
          <h4 class="card-title">{{q.title}}</h4>
          <div class="offset-md-9">
            <button class="btn btn-info" (click)="generateUrl(q._id)">
              generer l'url du questionnaire
            </button>
          </div>
        </div>
        <div *ngIf="q.description"><i class="card-text">{{q.description}}</i><br><br></div>
        <div class="row">
          <div class="pr-1">
            <button mat-raised-button color="primary" (click)="goToUpdate(q)">Gérer Questionnaire</button>
          </div>
          <div class="pr-1">
            <button mat-raised-button color="warn" class="mr-1 pl-1" (click)="removeQstnr(q._id)">Supprimer</button>
          </div>
          <div class="pr-1">
            <button mat-raised-button color="primary" class="mr-1 pl-1" (click)="goToResponse(q)">Mes Réponses</button>
          </div>

        </div>

        <!--  <button mat-raised-button color="primary" (click)="goToUpdate(q)">Modifier</button>
        <button mat-raised-button color="warn" class="mr-1 pl-1" (click)="removeQstnr(q._id)">Supprimer</button>
        <button mat-raised-button color="primary" class="mr-1 pl-1" (click)="goToResponse(q)">Mes Réponses</button>
      </div>-->
        <hr />
      </div>

    </div>
  </div>

  <ng-template #loading>
    <div class="no-text">
      Aucun questionnaire créé!
    </div>
  </ng-template>
</ng-template>