<div *ngIf="answers ; else loading;">
    <div class="card" *ngIf="questionnaire">
        <h3 class="card-header">{{questionnaire.title}}
            <div class="float-right mt-2">
                <button (click)="goToResponse()" mat-raised-button color="primary">Retour</button>
            </div>
        </h3>

        <div class="clearfix">
            <i class="mr-3 float-right">
                Soumis par {{questionnaire.submittedBy}} Le {{questionnaire.dateCreate | date:'fullDate'}} à
                {{questionnaire.dateCreate |
                date:'mediumTime'}}
                expire le : {{questionnaire.dateLimite | date:'fullDate'}} à
                {{questionnaire.dateLimite |
                date:'mediumTime'}}
            </i>
        </div>
        <div class="card-body" *ngFor="let q of questions">
            <p class="card-text">{{q.title}}</p>
            <question-type [readonly]="true" [edit]="false" [question]="q" [removable]="false"></question-type>
        </div>
    </div>
</div>
<ng-template #loading>
    <mat-spinner class="loader-container"></mat-spinner>
</ng-template>