<form #formQ="ngForm" id="elementToConvert">
  <div class="card">
    <div *ngIf="!inUpdate; else update;">
      <h3 class="card-header">Création d'un nouveau questionnaire</h3>
    </div>
    <ng-template #update>
      <h3 class="card-header">{{questionnaire.title}}</h3>
      <div class="clearfix">
        <i class="mr-3 float-right">Créé par {{questionnaire.submittedBy}}
          Le {{questionnaire.dateCreate | date:'fullDate'}} à {{questionnaire.dateCreate |
          date:'mediumTime'}}
          expire le : {{questionnaire.dateLimite | date:'fullDate'}} à
          {{questionnaire.dateLimite |
          date:'mediumTime'}}</i>
      </div>
    </ng-template>
    <div class="card-body">
      <div class="row">
        <mat-form-field class="col-md-8">
          <input name="name" matInput placeholder="Name" [(ngModel)]="questionnaire.title" required />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-8">
          <textarea name="description" mat-autosize minRows="3" matInput placeholder="Description" [(ngModel)]="questionnaire.description"
            required></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-md-8">
          <input name="dateLimite" matInput placeholder="Date Limite" [matDatepicker]="picker" [(ngModel)]="questionnaire.dateLimite"
            required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <br/>
    <div class="card">
        <h3 class="card-header">Questions</h3>
        <div class="card-body" *ngFor="let q of questions">
            <p class="card-text">{{q.title}}</p>
            <question-type [question]="q" [edit]="true" [readonly]="false"></question-type>
        </div>
        <div *ngIf="questions">
            <div class="no-text" *ngIf="!questions.length">
                No questions
            </div>
        </div>
    </div>
  </div>
  <div class="float-left mt-2">
    <button class="btn btn-outline-primary" (click)="addQuestion()">Ajouter une question</button>
  </div>
  <div class="float-right mt-2">
    <div class="row">
      <div *ngIf="!inUpdate; else saveUpdate;">
        <button class="mr-1" mat-raised-button color="primary" [ngClass]="{'btn-danger': formQ.form.invalid || !questions.length}"
          (click)="save()">Créer</button>
      </div>

      <ng-template #saveUpdate>
        <button class="offset-md-1" class="btn btn-primary" [ngClass]="{'btn-danger': formQ.form.invalid || (!questions)}"
          (click)="updateQuestionnaire()">Modifier</button>
        <button class="offset-md-1" class="btn btn-info" (click)="captureScreen()">Generer le PDF</button>
      </ng-template>
     <button class="mr-1 pl-1" mat-raised-button color="warn" (click)=quitter()>Quitter</button>

    </div>
  </div>

</form>
<br>
<br>
<br>
<br>
